/**
 * @package		ChurchAmp_Staff
 * @version		5.0.0
 * @since			1.0.0
 * @author		Endeavr Media <support@endeavr.com>
 * @copyright		Coppyright (c) 2013, Jason Loftis (jLOFT / Endeavr / ChurchAmp)
 * @link			http://churchamp.com/plugins/staff
 * @license		http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 */

#icon-edit.icon32.icon32-posts-staff:before { font-family:'ss-pika' !important; font-size:28px; content: '\e407'; }
.icon16.icon-staff:before,#adminmenu .menu-icon-staff div.wp-menu-image:before { font-family:'ss-pika' !important; font-size:16px; content: '\e407'; }
td.column-_endvr_staff_role { max-width:300px; }
td.column-_endvr_staff_phone { max-width:100px; }
td.column-_endvr_staff_email { max-width:300px; }
td.column-_endvr_staff_photo_thumb { max-width:133px; }
td.column-_endvr_staff_photo_full { max-width:100px; }
th.column-_endvr_staff_photo_thumb, th.column-_endvr_staff_photo_full { text-align:right; }
td.column-_endvr_staff_photo_thumb img, td.column-_endvr_staff_photo_full img { float:right; }
td.column-_endvr_staff_photo_thumb img { max-width:133px; }
td.column-_endvr_staff_photo_full img { max-width:100px; }